@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Light"), local("Proxima-Nova-Light"),
    url("/fonts/ProximaNova-Light.woff2") format("woff2"),
    url("/fonts/ProximaNova-Light.woff") format("woff"),
    url("/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"),
    url("/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("/fonts/ProximaNova-Regular.woff") format("woff"),
    url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Semibold"), local("Proxima-Nova-Semibold"),
    url("/fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("/fonts/ProximaNova-Semibold.woff") format("woff"),
    url("/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("Proxima-Nova-Bold"),
    url("/fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("/fonts/ProximaNova-Bold.woff") format("woff"),
    url("/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Extrabold"), local("Proxima-Nova-Extrabold"),
    url("/fonts/ProximaNova-Extrabld.woff2") format("woff2"),
    url("/fonts/ProximaNova-Extrabld.woff") format("woff"),
    url("/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Black"), local("Proxima-Nova-Black"),
    url("/fonts/ProximaNova-Black.woff2") format("woff2"),
    url("/fonts/ProximaNova-Black.woff") format("woff"),
    url("/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary: #8e2121;
  --default: #000;
  --secoundry: #fff;
}

html {
  font-size: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
label {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
}

/* Set the base font family and size */
body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--default);
  background-color: #f6f6f6;
}

/* Headings */
h1 {
  font-size: 4rem;
  color: var(--default);
}

h2 {
  font-size: 3.5rem;
  color: var(--default);
}

h3 {
  font-size: 3.2rem;
  color: var(--default);
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

/* Paragraphs and Text Elements */
p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #666;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #0056b3;
}

table th,
td {
  font-family: 'Proxima Nova', sans-serif;
}

.btn {
  font-family: 'Proxima Nova', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: var(--primary);
  border-color: var(--secoundry);
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  border-radius: 4px;
  border: 1px solid #8e2121;
  background: #fff;
  color: #8e2121;
}

.btn-outline-primary {
  border: 1px solid var(--primary);
  background-color: transparent;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}

.text-primary {
  color: var(--primary) !important;
  font-weight: 500;
}

.row>* {
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);
}

/* Responsive Typography */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

.mb-20 {
  margin-bottom: 2rem;
}

/* Header Start */

.navigation {
  height: 6.5rem;
  background: var(--secoundry);
  padding-left: 120px;
  padding-right: 120px;
}

.brand {
  padding-left: 20px;
  float: left;
  line-height: 6.5rem;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* nav {
  float: right;
} */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  font-size: 1.6rem;
  display: block;
  padding: 0 20px;
  line-height: 6.5rem;
  background: var(--secoundry);
  color: var(--default);
  text-decoration: none;
  text-transform: uppercase;
  /* line-height: 24px; */
  font-weight: 600;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: var(--primary);
  background: #ececec;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: url(/images/down-arrow.svg);
  position: relative;
  bottom: 2px;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 10;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 6.5rem;
  width: 6.5rem;
}

.brand img {
  width: 162px;
  height: 99px;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secoundry {
  background-color: #222425;
}

.info-box {
  padding: 3.5rem 4rem;
  margin: 0rem;
  border-radius: 5px;
}

.info-box p {
  color: #fd8787;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 0.5rem;
}

.info-box h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 6.5rem 0 1.5rem;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }

  .mega-tab-menu-section .mega-tab-menu-block ul {
    display: flex !important;
  }
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: var(--default);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  display: inline-block;
}

li.search-box input {
  background: #ececec;
}

.icon-shipping {
  background-image: url(/images/icon-shipping.png);
  height: 24px;
  width: 24px;
}

.icon-search {
  background-image: url(/images/Line.png);
  height: 20px;
  width: 20px;
}

.icon-phone {
  background-image: url(/images/ic-phone.svg);
  width: 24px;
  height: 24px;
}

.icon-fax {
  background-image: url(/images/fax.png);
  width: 24px;
  height: 24px;
}

.icon-mail {
  background-image: url(/images/ic-envelop.svg);
  width: 24px;
  height: 24px;
}

.icon-card1 {
  background-image: url(/images/card_icon_1.png);
  width: 64px;
  height: 64px;
}

.icon-card2 {
  background-image: url(/images/card_icon_2.png);
  width: 64px;
  height: 64px;
}

.icon-card3 {
  background-image: url(/images/card_icon_3.png);
  width: 64px;
  height: 64px;
}

.icon-card4 {
  background-image: url(/images/card_icon_4.png);
  width: 64px;
  height: 64px;
}

.btn-search {
  padding: 11px;
  border-radius: 0px 4px 4px 0px;
  background: #581212;
  box-shadow: 0px 0px 12px 0px #450101 inset;
  margin-right: 20px;
  height: 42px;
}

.btn-search:hover,
.btn-search:active {
  background: #4b0808 !important;
}

.subNav {
  background-color: var(--primary);
  padding: 1.4rem 120px;
}

.sub-menu-link li a {
  font-size: 1.8rem;
  color: #ffd1d1;
  line-height: 2.5rem;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
  width: 100%;
}

.sub-menu-link li a span {
  margin-right: 10px;
}

.banner-slider {
  position: relative;
}

/* Banner */

.banner-content h4 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 38.4px;
  margin-bottom: 20px;
}

.banner-content a {
  color: #fff;
  text-align: center;
  padding: 6px 13.89px 7.61px 14.09px;
  border-radius: 4px;
  border: 2px solid #8e2121;
  font-size: 18px;
  font-weight: 400;
  line-height: 33.6px;
  /* 186.667% */
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}

.home-slider .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 3px;
  flex-shrink: 0;
}

.home-slider .owl-theme .owl-dots .owl-dot.active span,
.home-slider .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary);
}

.section-wrapper {
  padding: 30px 15px;
}

.main-header {
  padding-bottom: 45px;
}

.main-header span {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0px;
}

.project-card {
  border: none;
  border-radius: 4px;
  height: 100%;
}

.project-card .card-body {
  padding: 2.2rem 4rem;
  border: none;
}

.project-card .card-body span {
  margin-bottom: 1.5rem;
}

.project-card p {
  color: #393939;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.buy-now-sectioon .card {
  padding: 2rem;
  border-radius: 0.2rem;
  height: 100%;
  min-height: 150px;
}

.card-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text a {
  color: #8e2121;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 19.2px;
  position: relative;
}

.buy-now-sectioon .col-12 {
  margin-bottom: 1.5rem;
}

.card-body {
  position: relative;
}

.see-all-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
}

/* Footer */

.footer-logo img {
  width: 140px;
  height: 85px;
}

footer .bg-primary {
  padding: 4rem 1.5rem;
}

.ic-black-ebay {
  background-image: url(/images/ebay.svg);
  width: 56px;
  height: 23px;
}

.icon-fb {
  background-image: url(/images/icon-fb.svg);
  width: 20px;
  height: 27px;
}

.icon-ebay {
  background-image: url(/images/icon-ebay.svg);
  width: 20px;
  height: 27px;
}

.icon-youtube {
  background-image: url(/images/icon-youtube.svg);
  width: 20px;
  height: 27px;
}

.icon-twitter {
  background-image: url(/images/icon-twitter.svg);
  width: 20px;
  height: 27px;
}

.icon-wp {
  background-image: url(/images/icon-wordpress.svg);
  width: 20px;
  height: 27px;
}

footer p {
  color: #cccccc;
}

.bg-icon-round {
  border-radius: 20px;
  opacity: 0.75;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  padding: 2px 7px 2px 7px;
  width: 35px;
  height: 35px;
}

.social-media-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.footer-set {
  padding-top: 4rem;
}

.footer-set h6 {
  margin-bottom: 8px;
}

.text-primary-lite {
  color: #ef7a7a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer-list li {
  font-size: 18px;
  font-weight: 400;
  color: #d6d6d6;
  margin-bottom: 0.7rem;
}

.footer-list li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.card-footer-row .btn:hover {
  background: transparent;
  color: #8e2121;
  border: 1px solid #8e2121;
  transition: all 0.5s;
}

.card-footer-row .btn {
  border: 1px solid #8e2121;
  transition: all 0.5s;
}

/* a.menu-hover {
    position: relative;
  } */
a.menu-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #8e2121;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a.menu-hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.bg-new {
  background: url("/images/bg-header.png") no-repeat !important;
  background-position: center;
  background-size: cover !important;
}

header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav-container nav {
  align-items: center;
  display: flex;
  flex: 0.83;
  justify-content: space-between;
}

.sub-menu-link li:first-child {
  flex: 0.72;
}

.sub-menu-link li .input-group input {
  border-radius: 4px;
  border: 1px solid rgba(101, 20, 20, 0.62);
  opacity: 0.7;
  background: #7a1717;
  box-shadow: 0px 0px 12px 0px rgba(61, 1, 1, 0.56) inset,
    0px 0px 9px 0px rgba(255, 255, 255, 0);
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 400;
  padding: 11px 15px;
  height: 42px;
}

.sub-menu-link li .input-group input:focus {
  border: 1px solid #ffffff;
}

.sub-menu-link li .input-group .icon-search {
  position: relative;
  bottom: 2px;
}

input.form-control::placeholder {
  color: #dc6868;
  /* Change to the color you desire */
  opacity: 1;
}

.sub-footer {
  padding: 1.5rem 45px;
}

footer .bg-primary {
  padding: 4rem 45px;
}

.sub-menu-link a {
  position: relative;
}

.sub-menu-link a:hover {
  color: #ffd1d1;
}

.sub-menu-link a.menu-hover::before {
  background-color: #ffffff;
}

.shopping-cart-icon {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 20.8px;
  font-weight: 400;
  line-height: 31.2px;
  gap: 5px;
  padding: 0px;
}

.project-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s;
}

.project-card {
  transition: all 0.5s;
}

.buy-now-sectioon .card {
  transition: all 0.5s;
}

.buy-now-sectioon .card:hover {
  transition: all 0.5s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.buy-now-sectioon .card .card-img-block {
  overflow: hidden;
}

.buy-now-sectioon .card:hover .card-img-block img {
  transform: scale(1.1);
  transition: all 0.5s;
}

.buy-now-sectioon .card .card-img-block img {
  transform: scale(1);
  transition: all 0.5s;
}

.sub-footer a {
  position: relative;
}

.shopping-cart-icon:hover {
  background: transparent;
}

/* .nav-cart-menu-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} */

.sub-menu-link .input-group {
  max-width: 600px;
}

.info-box a {
  color: #8e2121;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 33.6px;
  border-radius: 4px;
  border: 1px solid #8e2121;
  background: #fff;
  padding: 6px 14.4px 7.61px 14.6px;
}

.card-text {
  color: #000;
  font-size: 17.6px;
  font-weight: 400;
  line-height: 26.4px;
}

.card-text span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.sub-footer a {
  color: #8e2121;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.buy-now-sectioon p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
}

.card-footer-row .btn {
  color: #fff;
  text-align: center;
  font-size: 22.4px;
  font-weight: 400;
  line-height: 33.6px;
  padding: 6px 13.205px 7.61px 13.405px;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.mega-menu-section {
  background: #ffffff;
  position: fixed !important;
  left: 0 !important;
  top: 65px !important;
  width: 100%;
  transform: none !important;
  padding: 0px;
}

.mega-menu-section .nav-tabs .nav-item button {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  padding: 9px 26px;
  border: none;
}

.mega-menu-section .nav-tabs {
  padding: 7px 0px 7px 102px;
  background: rgba(236, 236, 236, 0.38);
  justify-content: center;
  border: none;
}

.mega-menu-section .nav-tabs .nav-link.active {
  border-radius: 2px;
  background: #ececec;
}

.mega-menu-section .nav-tabs .nav-link.active {
  color: #8e2121;
}

.mega-tab-menu-section .mega-tab-menu-block ul li a {
  color: #393939;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
  text-transform: capitalize;
}

.mega-tab-menu-section .mega-tab-menu-block ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mega-tab-menu-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  padding: 50px 105px;
}

.grid-view-block .grid-view-card {
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 20px;
}

.grid-view-block .grid-view-card img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-view-block .grid-view-card {
  margin-bottom: 20px;
}

.grid-view-block .grid-view-card h4 {
  margin: 15px 0 !important;
}

.grid-view-block .grid-view-card p {
  margin-bottom: 30px;
}

.list-view-block ul li {
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.list-view-block ul li h4,
.grid-view-block .grid-view-card h4 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  /* 130% */
  margin: 0 0 20px;
}

.list-view-block ul li p,
.grid-view-block .grid-view-card p {
  color: #8e2121;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.list-price-block span,
.grid-view-block .grid-view-card span {
  color: #8e2121;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.2px;
  /* 141.818% */
}

.list-price-block button,
.grid-view-block .grid-view-card button {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  /* 150% */
  padding: 6px 13.205px 7.61px 13.405px;
  border-radius: 4px;
  border: 1px solid #8e2121 !important;
  background: #8e2121;
  transition: all 0.5s;
}

.list-view-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-page-main {
  padding: 20px 120px;
}

.list-price-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-view-block ul li {
  margin-bottom: 20px;
}

.breadcrumb-block nav ol li a {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
}

.breadcrumb-block nav ol li {
  color: #8e2121 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.breadcrumb-block {
  margin-bottom: 30px;
}

.list-page-header h4 {
  color: #8e2121;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  /* 118.75% */
}

.list-page-header p {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
  margin-bottom: 22px;
}

.pagination-list-block h4 {
  color: #8e2121;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  margin: 0;
}

.pagination-list-block h4 span {
  display: inline-block;
  margin-left: 5px;
}

.list-icon-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list-icon-block h4 {
  color: #8e2121;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin: 0;
}

.list-icon-block ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.list-icon-block ul li button {
  background: transparent;
  padding: 5px;
}

.list-icon-block ul li button:hover {
  background: transparent;
}

.list-icon-block {
  margin: 10px 0 30px;
}

.left-filter-section {
  background: #ffffff;
  height: 100%;
  padding: 20px;
}

.checkbox-wrapper-4 {
  background: #f6f6f6;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 10px 10px 0;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

/* .checkbox-wrapper-4 .cbx:hover {
  background: rgba(0,119,255,0.06);
} */
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #8e2121;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
  background: #8e2121;
  border-color: #8e2121;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

.filter-search-box h4 {
  color: #2f3044;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.filter-search-box {
  margin-bottom: 20px;
}

.table-view-block tbody tr td img {
  max-width: 100%;
}

.table-view-block tbody tr td h4 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.4px;
  /* 132% */
}

.table-view-block tbody tr td p {
  color: #8e2121;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.4px;
  /* 165% */
}

.table-view-block tbody tr td span {
  color: #8e2121;
  font-size: 20px;
  font-weight: 600;
  line-height: 31.2px;
  /* 141.818% */
}

.table-view-block tbody tr td {
  vertical-align: middle;
  padding: 3px 10px;
}

.table-view-block tbody tr td:first-child {
  text-align: center;
}

.table-view-block thead tr th {
  font-size: 16px;
  font-weight: 600;
  padding: 3px 10px;
}

.table-view-block tbody tr td button {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  /* 150% */
  padding: 6px 13.205px 7.61px 13.405px;
  border-radius: 4px;
  border: 1px solid #8e2121;
  background: #8e2121;
}

.active-view svg {
  fill: #8e2121;
}

.active-view {
  background: #ffffff !important;
}

.list-price-block button:hover,
.grid-view-block:hover .grid-view-card button:hover {
  background: transparent;
  color: #8e2121;
  transition: all 0.50s;
}

.grid-view-card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.50s;
}

.grid-view-card:hover img {
  transform: scale(1.1);
  transition: all 0.50s;
}

.grid-view-card img {
  transform: scale(1);
  transition: all 0.50s;
}

.grid-view-card {
  transition: all 0.50s;
}

.grid-img-block {
  overflow: hidden;
}

.mega-menu-section .tab-content {
  overflow: auto;
  max-height: calc(100vh - 130px);
}

.list-icon-block ul li button:hover svg {
  fill: #8e2121;
  transition: all 0.50s;
}

.list-icon-block ul li button svg {
  transition: all 0.50s;
}

.pagination-list-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-product ul {
  gap: 5px;
}

.pagination-product ul li {
  min-width: 34px;
  height: 34px;
}

.pagination-product ul li a {
  color: #494949;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #EDEFFF;
  background: #FFF;
}

.pagination-product ul li:nth-child(2) a {
  color: #8E2121;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #8E2121;
}

.pagination-product ul li .page-link:focus {
  box-shadow: none !important;
}

.section-container {
  padding: 20px 120px;
}

.product-deatils-block h4 {
  color: #8E2121;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 25px;
}

.product-deatils-block ul li {
  display: flex;
  margin-bottom: 20px;
}

.product-deatils-block ul li p {
  flex: 0.3;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
}

.product-deatils-block ul li span {
  flex: 0.7;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.product-btn-block {
  margin-top: 35px;
}

.product-btn-block button {
  display: block;
  width: 100%;
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid #8E2121 !important;
  background: #8E2121;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  /* 150% */
  transition: all 0.50s;
}

.product-btn-block button:hover {
  background: transparent;
  color: #8E2121;
  transition: all 0.50s;
}

.footer-info-section {
  background: #801717;
  padding: 30px 120px;
}

.footer-info-section p {
  color: #EF7A7A;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  margin: 0px;
}

.contact-header {
  color: #8E2121;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  margin: 0 0 40px;
}

.contact-details-block address p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px
}

.contact-details-block p.info-open-text {
  color: #8E2121;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 15px 0;
}

.contact-map-block h4 {
  color: #1C2433;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 0;
}

.contact-map-block .contact-map-frame {
  border-radius: 12px;
  border: 1px solid #E0E1E3;
}

.contact-map-block .contact-map-frame iframe {
  border-radius: 12px;
}

.contact-field-block label {
  color: #1C2433;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  margin-bottom: 10px;
}

.contact-field-block input {
  padding: 12px 16px;
  height: 44px;
  color: #1C2433;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.contact-field-block input.form-control::placeholder,
.contact-field-block textarea.form-control::placeholder {
  color: #8c9098;
  /* Change to the color you desire */
  opacity: 1;
}

.contact-field-block input:focus,
.contact-field-block textarea:focus,
.contact-field-block select:focus {
  box-shadow: none;
  border: 1px solid #dee2e6;
}

.contact-field-block select {
  padding: 12px 16px;
  height: 44px;
  color: #1C2433;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.contact-field-block textarea {
  padding: 12px 16px;
  color: #1C2433;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  resize: none;
}

.contact-form-submit-btn {
  width: 100%;
  display: block;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  /* 150% */
  padding: 6px 14px;
  margin: 35px 0 10px;
  transition: all 0.50s;
  border: 1px solid #8E2121 !important;
}

.contact-form-submit-btn:hover {
  background: transparent;
  color: #8E2121;
  transition: all 0.50s;
}

.captcha-field {
  display: flex;
  align-items: center;
}

.captcha-field input {
  margin-bottom: 0px;
}

.contact-details-block ul li a {
  color: #8E2121;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.2px;
  /* 157.5% */
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-details-block ul li {
  margin-bottom: 10px;
}

.contact-details-block ul {
  margin-top: 15px;
}

.cancel-btn-contact {
  background: transparent;
  color: #8E2121;
}

.cancel-btn-contact:hover {
  background: #8E2121;
  color: #fff;
  transition: all 0.50s;
}

.product-similar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-similar-header a {
  color: #8E2121;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  position: relative;
}

.product-deatils-block ul li p:after {
  content: ":";
  position: absolute;
  right: 30px;
}

.single-image-slider img {
  width: 590px;
  height: 423px;
}

.single-image-slider {
  margin-bottom: 20px;
}

.slider-width {
  padding: 10px;
}